# Environment file
.env

#Flask uploads
uploads/

seed_users.py
users.db

create_users.py

#virtual environment files
asset-etl/venv

#local-files
asset-etl/_local_asset_test_output

#logs
asset-etl/logs

##Mapping_Validation
mapping_validation/mapped
mapping_validation/silver
mapping_validation/tmp
mapping_validation/venv
mapped/

## product etl logs
product-etl/

