# Environment file
.env

#Flask uploads
uploads/

seed_users.py
users.db

create_users.py

#virtual environment files
asset-etl/venv

#local-files
asset-etl/_local_asset_test_output

#logs
asset-etl/logs