<!DOCTYPE html>
<html>
<head>
  <title>Login</title>
</head>
<body>
  <h3>FGI Vendor Portal Login</h3>

  <form method="POST">
    <input name="email" placeholder="Email" required><br><br>
    <input name="password" type="password" placeholder="Password" required><br><br>
    <button type="submit">Login</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, msg in messages %}
      <p>{{ msg }}</p>
    {% endfor %}
  {% endwith %}
</body>
</html>
