<div class="windx-footer-panel">

  <div class="footer-left">
    <span>
      User: {{ current_user.username | upper }}
      ({{ current_user.role | upper }})
    </span>
  </div>

  <div class="footer-right">

    <a href="{{ url_for('utility.download_template') }}" id="action-f2">
      <span>F2=Download Template,</span>
    </a>

    <a href="{{ url_for('single_product.single_product_page') }}" id="action-f6">
      <span>F6=Submit Single Product,</span>
    </a>

    <a href="{{ url_for('utility.form_submission_help') }}" id="action-f12">
      <span>F12=Help</span>
    </a>

    <span class="footer-gap"></span>

    <a href="{{ url_for('auth.logout') }}" id="action-f3">
      <span>F3=Log off</span>
    </a>

  </div>

</div>